/* 23_quiz_9.css */
body{
    width: 100%;
}

.heading{
    /* 글자 크기 속성 */
    font-size: 60px;
    /* 글자색 */
    /* 색상값 : 예약어(red, blue등), #숫자6개(색상값) */
    /* 16진수, 10진수, 2진수 */
    /* 10진수 : 0 ~ 9까지의 숫자 */
    /* 2진수 : 0과 1로만 모든 숫자 표기 */
    /* 16진수 : 0 ~ 15 숫자 => 10(a), 11(b). 12(c), 13(d), 14(e), 15(f) */
    color: white;
    /* 글자 중앙 정렬 */
    text-align: center;
    /* 배경색 */
    background-color: black;
}