/* 17_quiz_14.css */
body{
    color: #444444;
}

h3{
    /* 나의 일정 */
    border-left: 5px solid green;
    padding-left: 10px;
}

table{
    width: 610px;
    font-size: 12px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

div{
    width: 610px;
    text-align: right;
    margin-bottom: 10px;
}

tr{
    height: 60px;
    border-collapse: collapse;
}

td{
    width: 76px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}